* {
  box-sizing: border-box;
}
body {
  width: 8.5in;
  height: 11in;
  position: relative;
  font-family: Raleway, sans-serif;
  font-size: 12pt;
  color: #2c3e50;
  margin: 0 auto;
  background: repeating-linear-gradient(45deg, transparent 0px, transparent 5px, #e4f1fe 5.01px, #e4f1fe 10px), repeating-linear-gradient(-45deg, #fff 0px, #fff 5px, #e4f1fe 5.01px, #e4f1fe 10px);
}
html {
  margin: 0;
  padding: 0;
  background-color: black;
}
body > div {
  margin: 0 0 0.25in 0;
}
img#logo {
  width: 3in;
  height: 3in;
  float: left;
  margin-left: 0.5in;
}
div#header {
  padding-top: 0.5in;
  position: relative;
  background-image: url(titlebackground.jpg);
  background-size: cover;
  height: 4in;
}
div#cover {
  background-color: #3498db;
  height: 2.75in;
  width: 6.5in;
  right: 0;
  top: 0.63in;
  position: absolute;
  padding-left: 0.125in;
}
div#title {
  display: inline-block;
  width: 5in;
  float: left;
  padding-left: 0.25in;
  color: #fff;
  font-size: 1in;
  line-height: 1.1in;
  font-weight: bold;
  padding-top: 0.25in;
}
div#recruiting {
  transform: rotate(-30deg);
  font-size: 0.35in;
  font-family: pacifico, cursive;
  color: #2c3e50;
  position: absolute;
  top: 0.2in;
  left: 4.2in;
  line-height: 1;
}
div#description {
  color: #2c3e50;
  margin: 0.25in;
  height: 2in;
  display: flex;
}
div.feature {
  flex-grow: 1;
  width: calc(7in/3);
  background-color: white;
  margin: 0 0.25in;
  height: 100%;
  padding: 0.25in;
  border: 0.1in solid black;
  text-align: center;
}
div.feature:nth-child(1) { border-color: #e74c3c; }
div.feature:nth-child(2) { border-color: #f39c12; }
div.feature:nth-child(3) { border-color: #2ecc71; }
div.feature:nth-child(1) > span.featureHeader { color: #e74c3c; border-bottom-color: #e74c3c; }
div.feature:nth-child(2) > span.featureHeader { color: #f39c12; border-bottom-color: #f39c12; }
div.feature:nth-child(3) > span.featureHeader { color: #2ecc71; border-bottom-color: #2ecc71; }
div.feature > span.featureHeader {
  display: block;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}
div#details {
  background-image: url(background.jpg);
  background-size: cover;
  position: absolute;
  top: 6.5in;
  width: 100%;
  height: 4.5in;
  color: #ecf0f1;
  margin: 0;
}
div#details a {
  color: #95a5a6;
  text-decoration: none;
  border-bottom: 1px dotted #95a5a6;
  margin: 0;
}
div#detailsCover {
  background-color: black;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  padding: 0.25in;
  position: absolute;
}
span#emphasize {
  padding: 2px;
  background-color: #e67e22;
  color: #2c3e50;
}
div#footnotes {
  height: 0.5in;
  position: relative;
  z-index: 1;
  padding: 0 0.5in;
  font-size: 8pt;
}
table {
  position: relative;
  z-index: 1;
  padding: 0.25in;
}
th, td {
  padding: 0.1in 0.25in;
  line-height: 1.2;
}
th {
  text-align: left;
  vertical-align: top;
  padding-right: 0in;
}
.footnote {
  font-size: smaller;
  vertical-align: super;
  color: #c0392b;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
